<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_icon_fei"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Temp_and"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" /> <!-- 入口开始 -->
        <activity android:name=".Fei00MenuActivity" /> <!-- 我的菜单入口文件 -->
        <activity android:name=".FooActivity" /> <!-- 测试页面 -->
        <activity android:name=".BarActivity" /> <!-- 测试页面 -->
        <activity android:name=".Fei01Activity" /> <!-- <activity android:name=".Fei02Activity" android:exported="false" /> -->
        <activity android:name=".Fei02Activity" /> <!-- 菜单页面 -->
        <activity android:name=".Fei021Activity" /> <!-- 菜单页面 -->
        <activity android:name=".Fei03Activity" />
        <activity android:name=".Fei031Activity" />
        <activity android:name=".Fei04Activity" />
        <activity android:name=".Fei05Activity" />
        <activity android:name=".Fei06Activity" />
        <activity android:name=".Fei07Activity" />
        <activity android:name=".Fei08Activity" />
        <activity android:name=".Fei09Activity" />
        <activity android:name=".Fei10Activity" />
        <activity android:name=".Fei11Activity" />
        <activity android:name=".Fei12Activity" />
        <activity android:name=".Fei13Activity" />
        <activity android:name=".Fei14Activity" />
        <activity android:name=".Fei15Activity" />
        <activity android:name=".Fei16Activity" />
        <activity android:name=".Fei17Activity" />
        <activity android:name=".Fei18Activity" />

        <activity android:name=".activity.Demo01Activity" /> <!--  demo:页面开始 -->
        <activity android:name=".activity.Demo02Activity" />
    </application>

</manifest>